.top-bar {
	margin-bottom: $global-margin*2;

	.loader {
		width: 0;
		margin-right: $global-margin;
		opacity: 0;
		transition: opacity 200ms ease, width 200ms steps(1);
		overflow: hidden;

		@include breakpoint(small down) {
			width: $loader-width;
			margin-bottom: $global-margin;
			margin-right: 0;
		}

		.isFetchingWeatherData & {
			transition: opacity 200ms ease;
			width: $loader-width;
			opacity: 1;
		}
	}
}

.top-bar-title {
	font-size: rem-calc(30);
	font-weight: 600;

	@include breakpoint(small down) {
		text-align: center;
		font-size: rem-calc(50);
		margin: 0;
	}
}

.top-bar-status {
	white-space: nowrap;
    margin-right: $global-margin;

    @include breakpoint(small down) {
		margin-bottom: $global-margin;
		margin-right: 0;
	}

    .hasError & {
    	font-style: italic;
    	color: get-color('warning');
    }
}

.top-bar-right {
	@include breakpoint(small down) {
		& > .menu {
			justify-content: center;

			form {
				flex-direction: column;
			}
		}
	}
}