.well {
    border: thin solid lightgray;
    background: #4a4a4a;
    text-align: center;
    padding: 10px;
    color: white;
}

.well-value {
    font-size: 40px;
    font-weight: 600;
    white-space: nowrap;
    line-height: 1;
}